.input {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 60px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input_submit:hover {
  background-color: #3b3b3b;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

@media (prefers-color-scheme: light) {
  .input__box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .input_submit {
    box-shadow: 0 0 5px black;
    background-color: #213547;
  }

  .input_submit:hover {
    background-color: #747bff;
  }
}
